body{
    background-color: grey;
    position: relative;
    align-content: center;
}
input{
    padding: 2%;
    
}
.number{
    width:6%;
    height: 5%;
    
    padding-right: 2%;
}
.act1{
    height: 5%;
    width:5%
}
.screen{
    background-color: darkolivegreen;
    height:10%;
    width:25%;
}